#footer .nav ul {
	*clear: expression(
		style.marginTop = "" + (offsetHeight < parentNode.offsetHeight ? parseInt((parentNode.offsetHeight - offsetHeight) / 2) + "px" : "0"),
		style.clear = "none", 0
	);
}

#commentform .comment-form-comment textarea {
	width: 582px;
}

#body .sidebarBlock .left {
	width: 45%;
}

.commentsList .commentBox {
	padding: 1px;
}

.commentsList .commentBox .name,
.commentsList .commentBox .name a,
.commentsList .commentBox .date a {
	zoom: 1;
}

#header .nav a {
	zoom: 1;
}
